################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UserService/bin/Debug/netcoreapp3.1
/UserService/obj
